.abtus h2 {
    font-size: 14px;
    color: #333;
    /* text-transform: uppercase; */
    letter-spacing: 2px;
    font-weight: 300;
}

.about {
    position: relative;
    width: 100%;
    overflow: hidden;
    max-height: 100%;
    background: url(../images/feat1.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.about:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 240px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-bottom: 150px solid #FFF;
    border-left: 3000px solid transparent;
}

.about:before {
    top: 0;
    display: block;
    content: "";
    position: absolute;
    z-index: 1;
    left: 0;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-top: 194px solid #FFF;
    border-right: 3000px solid transparent;
}

footer{
    background: #252525;
    position: absolute;
    width: 100%;
    background: url(../images/footer.jpg) center center no-repeat;
}