@font:'Lato',sans-serif;
    
body {
    font-family: @font;
}

p {
    font-family: @font;
    font-size: 12px;
    color: #000;
    font-weight: 400;
}

a {
    font-family: @font;
    text-decoration: none;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: @font;
}

.abtus h2 {
    color: #333;
    font-weight: 300;
    .font_space;
}

.subsc_title p {
    font-family: @font;
    font-size: 15px;
    color: #fff;
    letter-spacing: 3px;
    font-weight: 400;
}

.about {
    position: relative;
    width: 100%;
    overflow: hidden;
    max-height: 100%;
    background: url(../images/feat1.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.comsun{
   text-align:center;
    margin-top: 50px;
}

.after_it{
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 240px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-bottom: 150px solid #FFF;
    border-left: 3000px solid transparent;
}

.before_it{
    top: 0;
    display: block;
    content: "";
    position: absolute;
    z-index: 1;
    left: 0;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-top: 194px solid #FFF;
    border-right: 3000px solid transparent;
}

.about:after {
    .after_it;
}

.about:before {
    .before_it;
}

.starplayer {
    .bg_image;
    background: url(../images/starmedal.jpg) center center no-repeat;
    
}

.starplayer:after {
    .after_it;
}

.starplayer:before {
    .before_it;
}

.font_space{
    font-size: 14px;
    letter-spacing: 2px;
}

.about_us_p {
    .font_space;
    line-height: 25px;
    padding-left: 50px;
    font-family: @font;
    padding-top: 20px;
    
}

.portfolio_p{
    .font_space;
    color: #000;
    line-height: 25px;
    font-weight: 400;
}

.team p {
    font-family: @font;
    .font_space;
}

.detail p {
    color: #777;
    font-weight: 400;
    line-height: 25px;
    .font_space;
}

.detail h3 {
    color: #777;
    font-weight: 300;
    .font_space;
}

.countdownnumber{
    display: inline;
    font-size: 36px;
    
}

.soc_cont p{
    text-align: center;
    color: #fff;
    letter-spacing: 3px;
    font-size: 18px;
    font-weight: 300;
}


header.head_bg {
   .bg_image;
    background: url(../images/sprint.jpg) center center no-repeat;
    
}

header.about_bg {
    .bg_image;
    background: url(../images/feat1.jpg) center center no-repeat;
    
}

header.program_bg {
    .bg_image;
    background: url(../images/features.jpg) center center no-repeat;
    
}

header.gallery_bg {
    .bg_image;
    background: url(../images/gallery_bg.jpg) center center no-repeat;
    
    
}

header.team_bg {
    .bg_image;
    background: url(../images/team_bg.jpg) center center no-repeat;
    
}

header.player_bg {
   .bg_image;
    background: url(../images/clients.jpg) center center no-repeat;
   
}

header.contact_bg {
    .bg_image;
    background: url(../images/contact_bg.jpg) center center no-repeat;
    
}

.prog_pad{
    padding: 10px;
}


.form-control {
    width: 100%;
    height: 50px;
    padding: 10px;
    padding-bottom: 0;
    border: 0;
    border-radius: 0px;
    box-shadow: none;
    background: transparent;
    border-bottom: 4px solid #000;
    font-family: @font;
    color: #000;
    font-size: 14px!important;
    letter-spacing: 2px!important;
    font-weight: 300;
}

.tik{
    background-color: #EFC337;
    padding-top: 10px;
    color:#fff;
}

.tok{
    background-color: #333;
    color:#fff;
    padding-top: 10px;
}

footer{
    background: #252525;
    position: absolute;
    width: 100%;
    background: url(../images/footer.jpg) center center no-repeat;
}

.bg_image{
     position: relative;
    width: 100%;
    overflow: hidden;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.team_desc{
    background-color:#EFC337;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    height: 115px;
}

.navfont{
    letter-spacing: 2px!important;
    color: #fff;
    font-size: 14px!important;
    text-transform: capitalize!important;
}

.player h3 {
    text-transform: uppercase;
    .font_space;
    font-weight: 900;
    color: #000;
    line-height: 2em;
    margin-bottom: 0px;
}

.player p {
    font-family: 'Lato', sans-serif;
    .font_space;
}

.player img{
    width:70%;
    margin-top: 10px;
    filter: gray;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}

.player_desc{
    background-color: #EFC337;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
}

.player_text p{
    font-family: 'Lato', sans-serif;
    .font_space;
    position: absolute;
    margin-left:-10px;
    top: 50px;
    width: 70%;
}

.player_text{
   display: none ;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    -webkit-transition:  all 4s;
    transition: all 4s;
    
}

//.player img:hover~.player_text{
//    display: block;
//    margin-top: -300px;
//    
//}

.player img:hover{
    opacity: 0.1;
    
    
}

@media (max-width: 992px){
    .tik{
        background-color: #EFC337;
        color:#fff;
        padding:10px;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .tok{
        background-color: #333;
        color:#fff;
        padding: 10px;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}