//--------bg-images-----//

/*header {
    position: initial;
    width: 100%;
    overflow: hidden;
    height: 100%;
    background: url(../images/header_bg.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header:before {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-bottom: 150px solid #FFF
    border-left: 3000px solid transparent;
}*/

.header contact {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100%;
    background: url(../images/contact_bg.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header contact:before {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-bottom: 150px solid #FFF;
    border-left: 3000px solid transparent;
}

//------logo-----//
.logo-size {
    margin-top: -4%;
    width: 20%;
}


/*----- Tabs -----*/

.tabs {
    width: 100%;
    display: inline-block;
    padding: 5%;
}


/*----- Tab Links -----*/


/* Clearfix */

.tab-links:after {
    display: block;
    clear: both;
    content: '';
}

.tab-links li {
    margin: 0px 5px;
    float: left;
    list-style: none;
}

.tab-links a {
/*    padding: 9px 15px;*/
    display: inline-block;
    border-radius: 3px 3px 0px 0px;
/*    background: #fff;*/
    font-size: 16px;
    font-weight: 600;
    color: black;
    transition: all linear 0.15s;
    letter-spacing: 2px;
}

.tab-links a:hover {
/*
    background: #fff;
    text-decoration: none;
*/
}

li.active a,
li.active a:hover {
/*
    background: #fff;
    color: #4c4c4c;
*/
}


/*----- Content of Tabs -----*/

.tab-content {
    padding: 15px;
    border-radius: 3px;
/*    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);*/
    background: #fff;
}

.tab {
    display: none;
}

.tab.active {
    display: block;
}

.tab p {
    font-size: 14px;
    letter-spacing: 2px;
/*    font-size: 20px;*/
}

.tab img {
/*    padding: 5%;*/
    width: 100%;
    border-radius: 5px;
/*    box-shadow: 5px 5px 20px;*/
}


/*tab-close*/

.team h3 {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 900;
    color: #000;
    line-height: 2em;
    margin-bottom: 0px;
}

.team p {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
}

.team img {
    width: 70%;
    margin-top: 10px;
    filter: gray;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}

.pad {
    padding: 2%;
}

@media only screen and (max-width: 767px) {
    .new {
        height: 12%;
        -webkit-min-device-pixel-ratio: 1.5;
        min--moz-device-pixel-ratio: 1.5;
        -o-min-device-pixel-ratio: 3/2;
        min-device-pixel-ratio: 1.5;
    }
    .new img {
        width: 20% !important;
        margin-top: -20% !important;
        -webkit-min-device-pixel-ratio: 1.5;
        min--moz-device-pixel-ratio: 1.5;
        -o-min-device-pixel-ratio: 3/2;
        min-device-pixel-ratio: 1.5;
    }
}